<section class="section">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="{{ .Site.BaseURL }}"><h1 class="title is-4">{{ .Site.Title }}</h1></a>
      </div>
      <div class="nav-right">
        <nav class="nav-item level is-mobile">
          {{- range $platform, $username := .Site.Params.social -}}
          {{- if $username -}}
            <a class="level-item" aria-label="{{ $platform }}" href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}' target='_blank' rel='noopener'>
            <span class="icon">
              <i class>
                {{- partial "svg/icons" $platform -}}
              </i>
            </span>
          </a>
          {{- end -}}
          {{- end -}}
    <a class="level-item" aria-label="CV" href='https://docs.google.com/document/d/1WiBnj7C-rgTfPN60yUWxQVwueiJniPGrRJ3J0JWzRv4/edit?usp=sharing' target='_blank' rel='noopener'>
            <span class="icon">
              <i class>
		<img src="/cv.png"/>
              </i>
            </span>

        </nav>
      </div>
    </nav>

    <nav class="nav">
      {{ if (isset .Site.Params "sections_left" ) }}
        <div class="nav-left">
          {{- range $section, $printable := .Site.Params.sections_left -}}
            {{- if $printable -}}
              <a class="nav-item" href="{{$section}}">
                <h2 class="title is-5">{{$printable}}</h2>
              </a>
            {{- end -}}
          {{- end -}}
        </div>
      {{ end }}

      {{ if (isset .Site.Params "sections_right" ) }}
        <div class="nav-right">
          {{- range $section, $printable := .Site.Params.sections_right -}}
            {{- if $printable -}}
              <a class="nav-item" href="{{$section}}">
                <h2 class="title is-5">{{$printable}}</h2>
              </a>
            {{- end -}}
          {{- end -}}
        </div>
      {{ end }}
    </nav>

  </div>
</section>
